body {
  background-color: deeppink;
  background-image:linear-gradient(-45deg, hotpink 48%, deeppink 48%, deeppink 52%, hotpink 52%);
  background-size:25px 25px;
  padding:0;
  text-align:center;
}
#box {
  max-width:550px;
  margin:0 auto;
  border-radius:10px;
}
.insideRow {
  width:100%;  
  background:white; 
  border-radius:10px;
  margin: 25px 0px;
  box-shadow:0 0 10px 3px rgba(0,0,0,.25);
}
.insideRow:first-child, .insideRow:last-child {
  background:transparent;
  color:white;
  box-shadow:none;
}

.insideRow:first-child p, .insideRow:last-child p { 
  color:white;
}

.insideRow div {
  padding:20px;
}

img {
  width:100%;
  max-width:400px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 400px;
}

p {
  font-size:30px;
  line-height:100%;
  color:deeppink;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top:20px;
  margin-bottom:20px
}

span {
  font-size:20px;
}